.DS_Store
assets/Il_Leo.xcf
assets/stb_X.jpeg
DOC
DOC/link_da_valutare.txt
DOC/censura.txt
DOC/Lanci_Dadi.xlsx
DOC/~$Lanci_Dadi.xlsx
DOC/Lanci_Dadi.xlsm
DOC/~$Lanci_Dadi.xlsm
DOC/table.rtf
DOC/table.txt
DOC/TableMaker.xlsm
DOC/*
./Conversion_Table.md
d4d8_SeedPhrase.md
deleted_censured_stuff.md
OctalChecksumGeneratorPyton.md
SeedChecksumLinux.md
